# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Node modules
node_modules/

# PNPM modules
.pnpm-store/
artifacts/
cache/
test_output.txt
build_output.txt
